<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- messages('messages', locals) %>
<% if (errors) { %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>
<h1>Admin Login Page</h1>
<form action="/admin/login" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</body>
</html>