<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AdminLTE 3 | Starter</title>
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <%- include ('navbar') %>

    <%- include ('sidebar') %>

    <div class="content-wrapper">

        <%- messages('messages', locals) %>
        <% if (errors) { %>
            <% errors.forEach(function(error){ %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
            <% }); %>
        <% } %>
