<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title><%= title%></title>
</head>
<body>
<%- include ('navbar')%>


<%- messages('messages', locals) %>
<% if (errors) { %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>