<%- include ('../frontend/layouts/base') %>
<div class="container-fluid">
    <h1 class="text-center"><%= title %></h1>
    <form action="/users/login" method="post" style="margin-left: 30%;">
        <div class="form-group col-md-6">
            <label for="username">Username: </label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password: </label>
            <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary ml-3">Login</button>
    </form>
</div>
<%- include ('../frontend/layouts/footer') %>